#intro{
  height:calc(100vh - 4rem);
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.bg{
  position: absolute;
  top:-4rem;
  z-index: -1;
  right: 0;
  object-fit: cover;
  height: 100vh;
}
.introContent{
  height:70vw;
  width:70vw;
  padding:2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hello{
  font-size: 1.75rem;
  font-weight: 100;
}
.introName{
  color: yellow ;
}
.introPara{
  font-size: medium;
  font-weight: 200;
  letter-spacing: 1px;

}
.btn{
  background: white;
  margin:1 rem 0;
  padding: 1.5rem 2rem;
  border-radius: none;
} 
.btnImg{
  object-fit: cover;
  margin: 0 0.25rem;
}
@media screen and(max-width:840px){
  .bg{
    right:-10vw
  }
  .introContent{
    font-size: 10vw;
  }
}